<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2013-12-5-Live-Wallpapers-For-Android-Users.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79483801</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-03-像谈恋爱一样去创业.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485297</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-10-结网.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484397</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-17-Effective-Java.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485202</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-1-24-My-Hacked-Design:Battery Saver.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485202</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-1-24-My-Hacked-Design:Solo Weather.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79483902</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-1-25-Great-Things-In-2013.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79483998</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-1-免费:商业的未来.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484302</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-19-查理芒格在南加州大学毕业典礼上的演讲.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485297</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-3-老二非死不可.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485101</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-6-Be curious and read widely.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794842</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-8-Zero To One.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794846</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-09-精彩绝伦的智慧探险和无与伦比的精神自嗨.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484302</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-16-奇点临近.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484397</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-23-探求宇宙的秘密.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484499</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-30-My-Hacked-Design:Solo Notifier.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485399</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-2-10-The-Little-Book-Of-Talent.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485101</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-2-12-Hacking-SICP-IN-2014.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794855</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-2-14-Colorful-Circle-For-Solo-Launcher.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484099</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-2-18-When-I-Am-Geek4Love.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794855</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-2-23-How-To-Develop-A-Theme-App-For-Android-Launchers.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484099</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-2-5-Some-Works-In-2013.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79483998</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-2-6-ARNote-World's-First-Argumented-Reliaty-Note.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79483998</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-3-15-拉斐尔原来可以这样看.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484999</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-3-16-毕加索原来可以这样看.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484999</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-3-2-Don't-Make-Me-Think.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484999</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-3-9-The-Algorithm-Design-Manual.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485297</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-4-13-The-Pragmatic-Programmer.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484999</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-4-20-Rework.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484898</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-4-5-Using-Ant-To-Build-Android-Applications-Automatically.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794842</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-5-1-Design-Patterns.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484898</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-5-18-改变未来的九大算法.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484898</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-5-25-写给大家看的设计书.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484802</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-5-3-Mobile-Augmented-Reliaty.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794842</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-5-4-西方美术简史.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484802</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-6-1-Think-OS:-A-Brief-Introduction-To-Operation-Systems.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484802</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-6-29-沸腾十五年.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484701</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-6-8-Clean-Code.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484701</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-7-27-A-New-Idea-About-HITP.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485399</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-8-17-推荐系统实践.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794846</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-8-24-我的互联网方法论.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794846</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-8-31-Programming-Collective-Intelligence.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484701</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-9-14-设计诗.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79484499</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-9-7-A Programmer's Guide To Data Mining.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485601</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-1-1-Hooked-How-to-Build-Habit-Forming-Products.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794855</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-11-启示录.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794864</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-25-格鲁夫给经理人的第一课.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794864</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-3-日本的八个审美意识.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486299</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-08-人类简史.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486501</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-1-How to build a Web App in 60 minutes.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794864</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-19-MongoDB - Aggregation.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486501</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-13-大数据.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486501</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-20-必然.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486603</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-27-成为技术领导者.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486603</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-3-29-Age-Of-Context.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485601</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-4-19-如何创造思维.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485703</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-4-5-禅与摩托车的维修艺术.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485601</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-5-23-数字乌托邦.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486102</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-5-3-MongoDB- The Definitive Guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485703</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-5-30-穷查理宝典.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485798</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-6-14-代码的未来.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485798</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-6-21-山本耀司·我投下一枚炸弹.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486197</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-6-7-富兰克林自传.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485798</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-7-1-Code-Complete.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485899</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-7-19-生活的艺术家.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79485899</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-8-15-新经济新规则.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486001</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-8-2-TheOne.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486001</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-8-23-看见未来.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486001</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-8-29-简约至上.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486102</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-9-13-雷诺阿.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486603</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-9-20-设计中的设计.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486299</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-9-3-增长黑客.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486102</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-9-4-做衣服.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486197</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-9-5-创业维艰.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486299</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-1-2-淘宝产品十年事.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486799</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-1-2-淘宝技术这十年.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486901</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-16-影响力.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487801</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-2-知道做到.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487902</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-2-设计师要懂心理学.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487902</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-22-通往财富自由之路.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487902</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-3-只有偏执狂才能生存.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487902</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-12-用户体验要素.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487997</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-13-学会提问.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487997</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-27-深泽直人.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486698</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-5-需求.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487997</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-05-智能主义.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79488099</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-17-把时间当朋友.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486698</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-24-图解TCPIP.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486799</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-26-在线.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486799</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-2-12-七年就是一辈子.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486901</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-2-13-裂变式创业.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79486901</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-2-21-在家就能读MBA.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487002</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-3-18-黑天鹅.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487002</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-3-20-生命是什么.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487002</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-3-21-疯传.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487002</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-3-8-耶路撒冷三千年.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487097</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-4-3-一课经济学.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487097</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-4-30-技术元素.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487199</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-4-4-超预测.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487097</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-5-23-产品经理修炼之道.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487199</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-5-28-产品经理方法论.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794873</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-5-29-硅谷钢铁侠.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794873</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-6-25-安迪·沃霍尔.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.794873</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-6-25-莫奈.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487401</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-6-30-The-Psychology-of-Snapchat-Marketing.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487401</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-7-10-夏加尔.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487401</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-7-17-梵高.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487401</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-7-24-知识大融通.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487503</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-7-31-极致.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487503</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-7-5-毕加索.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487503</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-8-14-文明之光1.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487598</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-8-21-智能时代.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487598</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-8-27-一本书读懂财务报表.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487699</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-9-17-李翔商业内参.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487801</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-9-3-与机器共舞.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487801</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-9-9-情感机器.md</key>
			<dict>
				<key>lastModification</key>
				<real>504937679.79487699</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-01-分水岭大时代.md</key>
			<dict>
				<key>lastModification</key>
				<real>504984662.77071202</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2017-01-07-商业的本质.md</key>
			<dict>
				<key>lastModification</key>
				<real>505557297.72942799</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-01-08-刻意练习.md</key>
			<dict>
				<key>lastModification</key>
				<real>505557348.553913</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2017-01-25-未来简史.md</key>
			<dict>
				<key>lastModification</key>
				<real>507009965.67191201</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>2017-01-26-大规模分布式储存系统.md</key>
			<dict>
				<key>lastModification</key>
				<real>507182561.69388801</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2017-01-30-构建高性能WEB站点.md</key>
			<dict>
				<key>lastModification</key>
				<real>507289493.50383598</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>2017-02-12-好好学习.md</key>
			<dict>
				<key>lastModification</key>
				<real>508080099.44970697</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>2017-02-18-穷查理宝典.md</key>
			<dict>
				<key>lastModification</key>
				<real>509079108.58759302</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>2017-03-12-一分钟经理人.md</key>
			<dict>
				<key>lastModification</key>
				<real>510941085.31351298</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>2017-03-18-长征.md</key>
			<dict>
				<key>lastModification</key>
				<real>509079298.62759697</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>2017-03-5-从点子到产品.md</key>
			<dict>
				<key>lastModification</key>
				<real>510941328.97866601</real>
				<key>version</key>
				<dict>
					<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
					<integer>71</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>504937602.89605898</real>
		<key>userIconName</key>
		<real>504937658.241045</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-03-5-从点子到产品.md</string>
		</array>
		<array>
			<string>2017-03-12-一分钟经理人.md</string>
		</array>
		<array>
			<string>2017-02-18-穷查理宝典.md</string>
		</array>
		<array>
			<string>2017-02-12-好好学习.md</string>
		</array>
		<array>
			<string>2017-03-18-长征.md</string>
		</array>
		<array>
			<string>2017-01-30-构建高性能WEB站点.md</string>
		</array>
		<array>
			<string>2017-01-26-大规模分布式储存系统.md</string>
		</array>
		<array>
			<string>2017-01-25-未来简史.md</string>
		</array>
		<array>
			<string>2017-01-08-刻意练习.md</string>
		</array>
		<array>
			<string>2017-01-01-分水岭大时代.md</string>
		</array>
		<array>
			<string>2013-12-5-Live-Wallpapers-For-Android-Users.md</string>
		</array>
		<array>
			<string>2014-1-24-My-Hacked-Design:Solo Weather.md</string>
		</array>
		<array>
			<string>2014-1-25-Great-Things-In-2013.md</string>
		</array>
		<array>
			<string>2014-2-5-Some-Works-In-2013.md</string>
		</array>
		<array>
			<string>2014-2-6-ARNote-World's-First-Argumented-Reliaty-Note.md</string>
		</array>
		<array>
			<string>2014-2-14-Colorful-Circle-For-Solo-Launcher.md</string>
		</array>
		<array>
			<string>2014-2-23-How-To-Develop-A-Theme-App-For-Android-Launchers.md</string>
		</array>
		<array>
			<string>2014-4-5-Using-Ant-To-Build-Android-Applications-Automatically.md</string>
		</array>
		<array>
			<string>2014-5-3-Mobile-Augmented-Reliaty.md</string>
		</array>
		<array>
			<string>2014-10-6-Be curious and read widely.md</string>
		</array>
		<array>
			<string>2014-11-09-精彩绝伦的智慧探险和无与伦比的精神自嗨.md</string>
		</array>
		<array>
			<string>2014-10-1-免费:商业的未来.md</string>
		</array>
		<array>
			<string>2014-08-10-结网.md</string>
		</array>
		<array>
			<string>2014-11-16-奇点临近.md</string>
		</array>
		<array>
			<string>2014-11-23-探求宇宙的秘密.md</string>
		</array>
		<array>
			<string>2014-9-14-设计诗.md</string>
		</array>
		<array>
			<string>2014-10-8-Zero To One.md</string>
		</array>
		<array>
			<string>2014-8-17-推荐系统实践.md</string>
		</array>
		<array>
			<string>2014-8-24-我的互联网方法论.md</string>
		</array>
		<array>
			<string>2014-8-31-Programming-Collective-Intelligence.md</string>
		</array>
		<array>
			<string>2014-6-29-沸腾十五年.md</string>
		</array>
		<array>
			<string>2014-6-8-Clean-Code.md</string>
		</array>
		<array>
			<string>2014-6-1-Think-OS:-A-Brief-Introduction-To-Operation-Systems.md</string>
		</array>
		<array>
			<string>2014-5-4-西方美术简史.md</string>
		</array>
		<array>
			<string>2014-5-25-写给大家看的设计书.md</string>
		</array>
		<array>
			<string>2014-5-18-改变未来的九大算法.md</string>
		</array>
		<array>
			<string>2014-5-1-Design-Patterns.md</string>
		</array>
		<array>
			<string>2014-4-20-Rework.md</string>
		</array>
		<array>
			<string>2014-4-13-The-Pragmatic-Programmer.md</string>
		</array>
		<array>
			<string>2014-3-2-Don't-Make-Me-Think.md</string>
		</array>
		<array>
			<string>2014-3-16-毕加索原来可以这样看.md</string>
		</array>
		<array>
			<string>2014-3-15-拉斐尔原来可以这样看.md</string>
		</array>
		<array>
			<string>2014-2-10-The-Little-Book-Of-Talent.md</string>
		</array>
		<array>
			<string>2014-10-3-老二非死不可.md</string>
		</array>
		<array>
			<string>2014-08-17-Effective-Java.md</string>
		</array>
		<array>
			<string>2014-1-24-My-Hacked-Design:Battery Saver.md</string>
		</array>
		<array>
			<string>2014-3-9-The-Algorithm-Design-Manual.md</string>
		</array>
		<array>
			<string>2014-08-03-像谈恋爱一样去创业.md</string>
		</array>
		<array>
			<string>2014-10-19-查理芒格在南加州大学毕业典礼上的演讲.md</string>
		</array>
		<array>
			<string>2014-11-30-My-Hacked-Design:Solo Notifier.md</string>
		</array>
		<array>
			<string>2014-7-27-A-New-Idea-About-HITP.md</string>
		</array>
		<array>
			<string>2014-2-18-When-I-Am-Geek4Love.md</string>
		</array>
		<array>
			<string>2014-2-12-Hacking-SICP-IN-2014.md</string>
		</array>
		<array>
			<string>2015-1-1-Hooked-How-to-Build-Habit-Forming-Products.md</string>
		</array>
		<array>
			<string>2015-3-29-Age-Of-Context.md</string>
		</array>
		<array>
			<string>2014-9-7-A Programmer's Guide To Data Mining.md</string>
		</array>
		<array>
			<string>2015-4-5-禅与摩托车的维修艺术.md</string>
		</array>
		<array>
			<string>2015-4-19-如何创造思维.md</string>
		</array>
		<array>
			<string>2015-5-3-MongoDB- The Definitive Guide.md</string>
		</array>
		<array>
			<string>2015-5-30-穷查理宝典.md</string>
		</array>
		<array>
			<string>2015-6-7-富兰克林自传.md</string>
		</array>
		<array>
			<string>2015-6-14-代码的未来.md</string>
		</array>
		<array>
			<string>2015-7-1-Code-Complete.md</string>
		</array>
		<array>
			<string>2015-7-19-生活的艺术家.md</string>
		</array>
		<array>
			<string>2015-8-15-新经济新规则.md</string>
		</array>
		<array>
			<string>2015-8-2-TheOne.md</string>
		</array>
		<array>
			<string>2015-8-23-看见未来.md</string>
		</array>
		<array>
			<string>2015-8-29-简约至上.md</string>
		</array>
		<array>
			<string>2015-5-23-数字乌托邦.md</string>
		</array>
		<array>
			<string>2015-9-3-增长黑客.md</string>
		</array>
		<array>
			<string>2015-6-21-山本耀司·我投下一枚炸弹.md</string>
		</array>
		<array>
			<string>2015-9-4-做衣服.md</string>
		</array>
		<array>
			<string>2015-9-5-创业维艰.md</string>
		</array>
		<array>
			<string>2015-9-20-设计中的设计.md</string>
		</array>
		<array>
			<string>2015-10-3-日本的八个审美意识.md</string>
		</array>
		<array>
			<string>2015-10-11-启示录.md</string>
		</array>
		<array>
			<string>2015-10-25-格鲁夫给经理人的第一课.md</string>
		</array>
		<array>
			<string>2015-11-1-How to build a Web App in 60 minutes.md</string>
		</array>
		<array>
			<string>2015-11-08-人类简史.md</string>
		</array>
		<array>
			<string>2015-11-19-MongoDB - Aggregation.md</string>
		</array>
		<array>
			<string>2015-12-13-大数据.md</string>
		</array>
		<array>
			<string>2015-12-20-必然.md</string>
		</array>
		<array>
			<string>2015-12-27-成为技术领导者.md</string>
		</array>
		<array>
			<string>2015-9-13-雷诺阿.md</string>
		</array>
		<array>
			<string>2016-11-27-深泽直人.md</string>
		</array>
		<array>
			<string>2016-12-17-把时间当朋友.md</string>
		</array>
		<array>
			<string>2016-12-24-图解TCPIP.md</string>
		</array>
		<array>
			<string>2016-12-26-在线.md</string>
		</array>
		<array>
			<string>2016-1-2-淘宝产品十年事.md</string>
		</array>
		<array>
			<string>2016-1-2-淘宝技术这十年.md</string>
		</array>
		<array>
			<string>2016-2-12-七年就是一辈子.md</string>
		</array>
		<array>
			<string>2016-2-13-裂变式创业.md</string>
		</array>
		<array>
			<string>2016-2-21-在家就能读MBA.md</string>
		</array>
		<array>
			<string>2016-3-18-黑天鹅.md</string>
		</array>
		<array>
			<string>2016-3-20-生命是什么.md</string>
		</array>
		<array>
			<string>2016-3-21-疯传.md</string>
		</array>
		<array>
			<string>2016-3-8-耶路撒冷三千年.md</string>
		</array>
		<array>
			<string>2016-4-3-一课经济学.md</string>
		</array>
		<array>
			<string>2016-4-4-超预测.md</string>
		</array>
		<array>
			<string>2016-4-30-技术元素.md</string>
		</array>
		<array>
			<string>2016-5-23-产品经理修炼之道.md</string>
		</array>
		<array>
			<string>2016-5-28-产品经理方法论.md</string>
		</array>
		<array>
			<string>2016-5-29-硅谷钢铁侠.md</string>
		</array>
		<array>
			<string>2016-6-25-安迪·沃霍尔.md</string>
		</array>
		<array>
			<string>2016-6-25-莫奈.md</string>
		</array>
		<array>
			<string>2016-6-30-The-Psychology-of-Snapchat-Marketing.md</string>
		</array>
		<array>
			<string>2016-7-10-夏加尔.md</string>
		</array>
		<array>
			<string>2016-7-17-梵高.md</string>
		</array>
		<array>
			<string>2016-7-24-知识大融通.md</string>
		</array>
		<array>
			<string>2016-7-31-极致.md</string>
		</array>
		<array>
			<string>2016-7-5-毕加索.md</string>
		</array>
		<array>
			<string>2016-8-14-文明之光1.md</string>
		</array>
		<array>
			<string>2016-8-21-智能时代.md</string>
		</array>
		<array>
			<string>2016-8-27-一本书读懂财务报表.md</string>
		</array>
		<array>
			<string>2016-9-9-情感机器.md</string>
		</array>
		<array>
			<string>2016-9-3-与机器共舞.md</string>
		</array>
		<array>
			<string>2016-9-17-李翔商业内参.md</string>
		</array>
		<array>
			<string>2016-10-16-影响力.md</string>
		</array>
		<array>
			<string>2016-10-2-知道做到.md</string>
		</array>
		<array>
			<string>2016-10-2-设计师要懂心理学.md</string>
		</array>
		<array>
			<string>2016-10-22-通往财富自由之路.md</string>
		</array>
		<array>
			<string>2016-10-3-只有偏执狂才能生存.md</string>
		</array>
		<array>
			<string>2016-11-12-用户体验要素.md</string>
		</array>
		<array>
			<string>2016-11-13-学会提问.md</string>
		</array>
		<array>
			<string>2016-11-5-需求.md</string>
		</array>
		<array>
			<string>2016-12-05-智能主义.md</string>
		</array>
		<array>
			<string>2017-01-07-商业的本质.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Computer</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
			<integer>72</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
			<integer>2</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>c026491d14da156712adce60a0368d772fc96212709b9713ddac15677d29e593</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
