<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/highlight.css" />
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57012852-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="网站首页" class="" href="/">Home</a></span>
        <span><a title="文章分类" class="" href="/categories/">Category</a></span>
        <span><a title="标签索引" class="" href="/tags/">Tag</a></span>
        <span><a title="阅读书单" class="" href="/books/">Books</a></span>
        <span><a title="美好事物" class="" href="/things/">Things</a></span>
        <span><a title="关于站长" class="" href="/about/">About</a></span>
        <span><a title="种子订阅" class="" href="/feed/" target="_blank">Subscribe</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>

    <footer>
        <p><small>
          <a>GEEK4IT</a> | <a>SEEKING WISDOM</a> | <a class="" href="/feed/" target="_blank">Subscribe</a></a>
         </small></p>
    </footer>

    </div>
  </body>
</html>
